@media screen and (min-width: 1200px) {
    .input-group {
        width: 400px;
    }
    .imgs{
        max-width: 500px;
    }
    .albumCoverImgsContainer{
        width:500px;
        height:500px;
    }
    .flex-list-start{
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .input-group {
        width: 300px;
    }
    .imgs{
        max-width: 300px;
    }
    .albumCoverImgsContainer{
        width:500px;
    }
    .flex-list-start{
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (max-width: 600px) {
    .imgs{
        max-width: 160px;
    }
    .albumCoverImgsContainer{
        width:100%;
    }
    .flex-list-start{
        justify-content: center;
        align-items: center;
    }

}
/* @media screen and (max-width: 376px) {
    .imgs{
        max-width: 160px;
    }
    .flex-list-start{
        justify-content: center;
        align-items: center;
    }
} */

.flex-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.flex-list-center{
    justify-content: center;
    align-items: center;
}

.flex-list-start{
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-list-spaceBtw{
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-column-1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    align-content: center;
}

#container {
    margin: 2%;
}

#previewDiv {
    background-image: linear-gradient(140deg, #EADEDB 0%, #8adea0, #32a852, #8adea0  75%);
    border-top: 0.4px solid black;
    border-bottom: 0.4px solid black;
    padding-bottom: 20px;
}

.previewDivs {
    position: relative;
    animation-name: MoveUpDown;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.previewDelete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 23px;
    height: 23px;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.previewDelete:hover {
    width: 30px;
    height: 30px;
}

.imgs {
    height: auto;
}

.border-bottom{
    margin-top: 10px;
    height:2px;
    width:80%;
    background-color: #b3b3b3;
}

.spinnerContainer {
    height: 100%;
    width: 100%;
    background-color: rgb(122, 122, 122, 0.6);
    z-index: 3;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 80px;
    height: 80px;
    margin: 0;
    animation: Spinner 1.2s linear infinite;
}

.spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 8px;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
}

.errorMsg {
    color: #db0000;
}


@keyframes MoveUpDown {
    0%,
    100% {
        top: 0px;
    }

    50% {
        top: 20px;
    }
}

@keyframes Spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.true{
    align-self: flex-end;
}

/* Upload Section Css */
.dropdown-input{
    width:80%;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 25px;
}
.right-inner-addon img {
    position: absolute;
    right: 30px;
    top: 11px;
}

.dropdown-item:active{
    background-color: #dc3545;
}   






/* Album Section Css */

#galleryAlbumSection{
    position: relative;
}
 
.albumDiv{
    margin: 20px;
    padding:15px 3px 3px 3px;
    border:0.7px solid #5fb37f;
    border-radius: 3px;

    /* these two lines set box-shadow on all 4 sides of div */
    -webkit-box-shadow: 0 0 15px #5fb37f;
    box-shadow: 0 0 15px #5fb37f;
}

.albumCoverImgsContainer{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
    /* setting height to be same as width even if responsive */
    .albumCoverImgsContainer:after {
        content:"";
        padding-bottom: 100%;
    }

.albumNameContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index:3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(181, 181, 181, 0.7);
}
    .albumNameContainer .albumName{
        font-weight: bold;
        color:#000000;
        font-size: 2em;
    }
    .albumNameContainer .albumImgNum{
        position: absolute;
        top:10px;
        right:10px;
        background-color: rgba(97, 97, 97,0.7);
        width:30px;
        height: 30px;
        font-weight: bold;
        color:#000000;
        font-size: 1.2em;
        text-align: center;
    }

.albumImageDiv{
    overflow: hidden;
}

#album, #albumImages{
    position: absolute;
    top:0;
    left:0;
}



/* Vue Transition */
.toggle-enter-active, .toggle-leave-active {
    transition: 1s ease-out;
 }

 /*
css property it will be when transition starts
*/
 .toggle-enter, .toggle-leave-to {
    overflow: hidden;
    max-height: 0;
 }
 
/*
css property it will be when transition ends
*/
.toggle-enter-to, .toggle-leave {
    max-height: 400px;
    overflow: hidden;
 }


/* .toggle-enter-to, .toggle-leave {
    height: 0;
} */